.greenthumb {
    &__hero {
        height: 100vh;
        width: 100%;
        overflow: hidden;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        background-image: url(../../projects/rvt/assets/images/hero/mobile/bg-mobile.jpg);
        
        &--logo {margin-top: 40px;}
        
        &--text {
            h1 {
                font-size: 40px;
                line-height: 48.76px;
                color: white;
            }
        }

        @media screen and (min-width: $desktop) {
            background-image: url(../../projects/rvt/assets/images/hero/desktop/bg-desktop.jpg);
            background-position: right top;

            &--logo {margin-top: 60px;}

            &--text {
                h1 {
                    font-size: 70px;
                    line-height: 85.33px;
                }
            }
        }
    }

    &__searchs {
        padding-top: 20px;
        padding-bottom: 20px;

        &--box {
            width: 100%;
            margin: 50px 0;
            
            &-about {
                font-size: 14px;
                font-weight: normal;
                line-height: 22px;
                margin-top: 10px;
            }
            &-select {
                border: 1px solid $gray;
                border-radius: 30px;
                width: 100%;
                height: 40px;
                color: $gray;
                line-height: 27px;
                margin-top: 20px;
                padding: 0 20px;
            }
        }

        @media screen and (min-width: $desktop) {
            display: flex;
            justify-content: space-between;
            &--box {
                width: 220px;
            }
        }
    }

    &__results {
        background-color: $light-gray;
        padding: 50px 0;

        &--fail, &--success {
            display: none;
            background-color: $light-gray;
            &.active {display: block;}
        }

        &--fail {
            &.active {
                color: $gray;
            display: flex;
            justify-content: space-between;

            h2 {
                font-size: 45px;
                line-height: 54.86px;
            }
            p {
                font-size: 16px;
                line-height: 27px;
            }
            }
        }

        &--success {
            h2 {
                font-size: 55px;
                margin: 20 0 50 0;
            }
        }
    }
}